@model ProductsViewModel

@{
    ViewData["Title"] = "Products listing";
}

<div class="text-center">
    <h1 class="page-title">Products</h1>
    <div class="product-view-utilities-container">
        <div class="trending-product-container">
            <strong>Trending product:</strong>
                @if (!string.IsNullOrEmpty(Model.TrendingProduct))
                {
                    <span id="trending-product">@Model.TrendingProduct</span>
                }
                else
                {
                    <span id="trending-product-error">Unable to show trending product</span>
                }
        </div>
        <div class="product-search-container">
            <input type="text" id="product-search-box" name="ProductFilterString" placeholder="Search..." />
        </div>
    </div>
    @if (Model.Products.Any())
    {
        <div class="product-listing-cards">
            @foreach (var product in Model.Products)
            {
                <div class="product-card">
                    <div class="product-card-text-container">
                        <div class="card-text-title">
                            <span>@product.Title</span>
                        </div>
                        <div class="card-text-info">
                            <span>@product.Brand</span>
                            <span>@product.Price @product.Currency</span>
                        </div>
                    </div>
                </div>
            }
        </div>
    }
    else
    {
        <div class="no-products-available">
            <span id="no-products-available-message">Unable to offer products at the moment!</span>
        </div>
    }
</div>